<!-- https://ctrlq.org/google/photos/?_ga=2.230481756.1332002786.1569075499-1191758933.1567786514 -->

<style>
td:hover{
background-color:gray;
cursor:pointer;
}
</style>

{{# if errors }}
  {{# each errors }}
    <p>{{ this.msg }}</p>
  {{/each}}
{{/if}}

<form action="/comps/address" method="post">
    <label>Enter address for comparables: </label>
    <input type="text" name="address_field" value="" />
    <input type="submit" value="OK" />
</form>

{{# if result }}
	<table class="table table-bordered">
		<thead>
      <th><b> Select one of the following addresses </b></th>
		</thead>
		<tbody>
			{{# each result }}
				<tr><td name="address_row{{@index}}"><input type="radio" name="address_radio{{@index}}"/> {{this}}</td></tr>
			{{/each}}
		</tbody>
{{/if}}

<script>
$(document).ready(function() {
	$("td, input[type=radio]").click(function() {
		var num = this.attributes["name"].value.match(/(\d+)/)[0]; 
		$("[name='address_radio"+num+"']").prop('checked', true);
		$('input[type=radio]').not("[name='address_radio"+num+"']").prop('checked', false);
		
	});
});
</script>