<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Elite Homes</title>
  <link rel="stylesheet" href="https://storage.cloud.google.com/always-onward-static/base.css">
</head>
<body>
{{{body}}}
</body>
</html>